<div class="w-full h-full">
    <div class="parent">
        <div class="div1"><img src="https://i.ibb.co/mJgpXP9/IMG-7472-min.jpg" alt="Ravi weds Moni"></div>
        <div class="div2"><img src="https://i.ibb.co/Vtx0SZZ/IMG-7479-min.jpg" alt="Ravi weds Moni"></div>
        <div class="div3"><img src="https://i.ibb.co/0JKpRfz/IMG-7428-min.jpg" alt="Ravi weds Moni"></div>
        <div class="div4"><img src="https://i.ibb.co/SrQmy3R/IMG-7512-min.jpg" alt="Ravi weds Moni"></div>
        <div class="div5"><img src="https://i.ibb.co/sJzPFF7/IMG-7492-min.jpg" alt="Ravi weds Moni"></div>
        <div class="div6"><img src="https://i.ibb.co/Vt4D47C/IMG-7494-min.jpg" alt="Ravi weds Moni"></div>
        </div>
</div>