<div class="w-[100vw] h-auto">
  <div class="w-[100vw] h-[85vh]"> <!--Page 1-->
    <div class="relative h-[60%] w-full bg-gradient-to-b from-purple-50 to-fuchsia-300 p-6 pt-10 pb-0">
      <p class="font-pattaya text-[25px] text-center">We're getting married</p>
      <p class="font-poppins font-medium pt-2 text-[18px] text-center">RAVI & MONICA</p>
      <img class="absolute w-[25rem] bottom-0 left-0" src="https://i.ibb.co/996dvG7/cover.png" alt="cover">
      <div (click)="changeMusic()" [class.music-playing]="isMusicClicked"
        class="absolute flex bg-[#EC8EFF] p-3 w-[50px] right-0 bottom-9 rounded-l-full shadow-lg">
        <img class="w-5" src="assets/music.svg" alt="music" />
        <audio #audioOption>
          <source src='../assets/music.mp3' type="audio/mp3">
        </audio>
        <marquee *ngIf="isMusicClicked" class="font-poppins text-[15px] ml-1">Onnavitta Yaarum Yenakilla.mp3</marquee>
      </div>
    </div>
    <div class="p-6">
      <p class="font-pattaya text-[25px] text-center">You are invited!</p>
      <p class="font-pattaya text-[20px] text-center pt-3">“We want you to be part of this special moment.”</p>
      <div class="w-full h-[80px] mt-7 flex justify-center gap-5 text-[28px]">
        <div class="h-full flex flex-col gap-2 justify-center place-items-center">
          <div
            class="w-[60px] h-full p-2 bg-fuchsia-300 font-poppins font-semibold rounded-full flex justify-center place-items-center " #days>
            </div>
          <p class="font-poppins text-[12px] font-bold">DAYS</p>
        </div>
        <div class="h-full flex flex-col gap-2 justify-center place-items-center">
          <div
            class="w-[60px] h-full p-2 bg-fuchsia-300 font-poppins font-semibold rounded-full flex justify-center place-items-center " #hours>
            </div>
          <p class="font-poppins text-[12px] font-bold">HOURS</p>
        </div>
        <div class="h-full flex flex-col gap-2 justify-center place-items-center">
          <div
            class="w-[60px] h-full p-2 bg-fuchsia-300 font-poppins font-semibold rounded-full flex justify-center place-items-center " #minutes>
          </div>
          <p class="font-poppins text-[12px] font-bold">MINUTES</p>
        </div>
        <div class="h-full flex flex-col gap-2 justify-center place-items-center">
          <div
            class="w-[60px] h-full p-2 bg-fuchsia-300 font-poppins font-semibold rounded-full flex justify-center place-items-center " #seconds>
          </div>
          <p class="font-poppins text-[12px] font-bold">SECONDS</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-[100vw] h-[100vh] flex flex-col place-items-center p-5"> <!--Page 2-->
    <img class="w-[100px]" src="../assets/gifs/wedding.gif" alt="wedding-ring">
    <div class="w-full h-[100px] flex flex-col justify-center text-center gap-2">
      <p class="font-pattaya text-[25px] text-center">Wedding and Reception</p>
      <p class=" pl-12 pr-12 font-poppins font-medium pt-2 text-[16px]">WE LOOK FORWARD TO SEEING YOU ON</p>
    </div>
    <div class="w-full h-[100px] flex place-items-center p-3">
      <div class="w-[50%] h-full flex justify-center place-items-center font-poppins font-bold">23 AUG</div>
      <div class="bg-black h-full w-[1px]"></div>
      <div class="w-[50%] h-full flex justify-center place-items-center font-poppins font-bold">FRIDAY</div>
    </div>
    <div class="w-full h-[100px] flex flex-col justify-center text-center">
      <p class="font-poppins font-medium text-[16px] p-5 mt-4">5PM onwards</p>
      <p class="font-poppins font-medium text-[18px] mb-[40px]">Sai Nivas Kalyana Mandapam Kavaraipettai - 601206</p>
    </div>
    <div class="w-full h-[350px] select-none">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3881.760908474227!2d80.13740147373917!3d13.365137506130882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4d8063022233d9%3A0xad505019ff0d562e!2sSai%20Nivas%20Kalyana%20Mandapam!5e0!3m2!1sen!2sin!4v1722419407167!5m2!1sen!2sin"
        width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="w-[100vw] h-[100vh] flex flex-col place-items-center p-5 mt-5"> <!--Page 3-->
    <img class="w-[100px]" src="../assets/gifs/couple.gif" alt="couple">
    <p class=" p-5 font-pattaya text-[25px] text-center">Our Kadhal Story</p>
    <div class="w-full h-[200px] rounded-md relative">
      <iframe
        src="https://player.vimeo.com/video/992972199?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        title="Our Story"></iframe>
    </div>
    <p class="text-center p-3 font-poppins text-[15px]">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias neque voluptatum soluta, est obcaecati velit fugiat ipsam dignissimos temporibus. Nobis ut dolores odio sapiente fugit blanditiis necessitatibus alias, fuga quae? Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="Container">
      <div class="Box">
        <div class="card sticky " *ngFor="let url of storyPhotos">
          <img draggable="false" [src]="url" alt="Memories">
        </div>
      </div>   
    </div>
  </div>
  <div class="w-[100vw] h-[100vh]"> <!--Page 4-->
  </div>
  <div class="w-[100vw] h-[100vh] bg-orange-500">5</div>
</div>